<ion-view title="Add Location">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form>
      <div class="list">

        <div class="item item-input item-stacked-label">
          <label for="name">
            <span class="input-label">Location Name</span>
            <input id="name" value="" ng-model="address.5" name="name" required type="text" placeholder="Martin Park">

            <span class="error" ng-show="showValidationMessage && myForm.name.$error.required">Insert Name</span>
          </label>
        </div>

        <div class="item item-input item-stacked-label">
          <label for="description">
            <span class="input-label">Description</span>
            <textarea id="description" value="" ng-model="location.description" name="description" required placeholder="blah blah blah..."></textarea>

            <span class="error" ng-show="showValidationMessage && myForm.description.$error.required">Insert Description</span>
          </label>
        </div>

        <div class="item item-input item-stacked-label">
          <label for="tags">
            <span class="input-label">Tags</span>
            <input id="tags" value="" ng-model="location.tags" name="tags" type="text" placeholder="#scenic #busy #pond">
          </label>
        </div>

        <div class="item item-input item-stacked-label photos">
          <label for="photos" >
            <span>select photos</span>
            <!-- <span class="input-label">Photos</span> -->
            <input id="photos" ng-model="location.photos" name="photos" required type="file">

            <span class="error" ng-show="showValidationMessage && myForm.photos.$error.required">Insert at Least One Photo</span>
          </label>
        </div>

        <div class="item item-input item-stacked-label rating-add">
          <label for="rating">
            <span class="input-label">Rating</span><br>
            <!-- <i class="icon ion-ios7-star-outline"></i> -->
            <input type="range" name="rating" min="1" max="5" value="4">
            <!-- <i class="icon ion-ios7-star"></i> -->
            <span class="error" ng-show="showValidationMessage && myForm.rating.$error.required">Insert Rating</span>
          </label>
        </div>

        <div class="item item-input item-stacked-label">
          <label for="address">
            <span class="input-label">Address</span>
            <input id="address" name="address" type="text" placeholder="Provo" ng-model="address.address">
          </label>
        </div>

        <div class="item item-input item-stacked-label">
          <label for="city">
            <span class="input-label">City</span>
            <input id="city" name="city" type="text" placeholder="Provo" ng-model="address.0">
          </label>
        </div>

        <div class="item item-input item-stacked-label">
          <label for="state">
            <span class="input-label">State</span>
            <input id="state" name="state" type="text" placeholder="UT" ng-model="address.1">
          </label>
        </div>

        <div class="item item-input item-stacked-label">
          <label for="zip">
            <span class="input-label">Zip</span>
            <input id="zip" ng-model="address.2" name="zip" type="text" placeholder="84123">
          </label>
        </div>

      </div>
    </form>
  </ion-content>
</ion-view>
