<ion-view title="locations">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="location in locations" href="#/app/locations/{{location.id}}" class="card">
        <div class="">
          <div class="custom-card-head">
            <h2>{{location.name}}</h2>
            <span class="time-to">8 mins</span>
          </div>
          <div class="custom-card-info">
            <span class="custom-card-address">123 E 93893 S, Provo, UT</span>
            <span class="custom-card-rating">4 / 5</span>
          </div>
        </div>
        <div class="custom-card-map">
          
        </div>
        <div class="">
          
        </div>
        <div></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
