<ion-view title="{{location.name}}">
  <ion-content class="has-header">
    <div id="map" class="map-header" data-tap-disabled="true"></div>
    <a href="geo:{{location.coordinates.latitude}},{{location.coordinates.longitude}}" class="button button-small icon-right ion-navigate get-directions">Get Directions</a>
    <div class="row responsive-sm">
      <div class="address col">
        <h1 class="center-text">
          {{location.address.street}}, 
          {{location.address.city}}, 
          {{location.address.state}} 
        </h1>
      </div>
      <div class="col">
        <h1>Description</h1>
        <p>{{location.description}}</p>
      </div>
      <!-- <div class="col row">
        <h1>Photos</h1>
        <div class="col col-thumbnail" ng-repeat="photo in location.pics">
          <img src="{{photo}}">
        </div>
      </div> -->
    </div>
    
   
  </ion-content>
</ion-view>
